* {
  padding: 2px;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  background: #eae6cd;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #3d405b;
  background: #f6f5f2;
  max-width: 600px;
  height: 100vh;
  margin: 0px auto 0px auto;
  padding: 20px 40px;
  line-height: 1.2;
}

a {
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  color: #006d77;
  padding: 0;
}

h1 {
  margin: 20px auto;
  color: #e07a5f;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

p {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 20px 0px 20px 12px;
}
ul ol {
  padding: 0;
  margin: 8px 12px;
}

li {
  margin: 2px 0 2px 16px;
}

select,
input,
textarea,
button {
  box-shadow: none;
  outline: 0 !important;
}
button {
  background: transparent;
  border: 0;
}

@media (max-width: 480px) {
  html {
    padding: 0;
  }

  body {
    height: 100%;
    max-width: fit-content;
    padding: 20px 20px;
  }
}
/*=============Style css=========*/
